<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{ISO8601} [%magenta(%t)] %highlight(%-5level) %cyan(%logger{20}.%method\(\):%line): %msg%n%throwable
            </pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "com.iot.server*" at TRACE level -->
    <logger name="com.iot.server" level="trace" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>